version: '3.9'

services:
  worker1:
    build:
      context: ./src/implementation1
    env_file:
      - ./src/.env
    command: ["node", "index.js"]
    environment:
      - PORT=3001
    ports:
      - "3001:3001"   
    depends_on:
      postgres:
        condition: service_healthy
    networks:
    - mynetwork

  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: real_time_dashboard
    volumes:
        - pgdata:/var/lib/postgresql/data
        - ./init-db:/docker-entrypoint-initdb.d 
    ports:
      - "5432:5432"
    networks:
      - mynetwork
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d real_time_dashboard"]
      interval: 5s
      retries: 10
      timeout: 2s

volumes:
  pgdata:

networks:
  mynetwork:
    driver: bridge
